<html>
  <head>
    <title>Welcome to TriggerWarnings</title>
  </head>
  <body>
    <table width=100%>
      <tr>
	<td width=50%>
	  Login:
	  <form name="form" action="{% url "login" %}"
		method="POST">{% csrf_token %}
	    <input type="text" placeholder="user id" name="userid"/>
	    <input type="password" placehold="password" name="password"/>
	    <button type="submit" value="login">Login</button>
	</td>
	<td width=50%>
	  <a href="../register">Register</a>
	</td>
      </tr>
    </table>
  </body>
</html>

      
    
